#content-container{
    background:#625cc7;
    transition: all 0.5s;
    padding-bottom: 100px;
}
#name-title{
    background-color: #fff;
    height: 200px;  
    position: relative;
    display: flex;
    justify-content: center;
    
}
.avatar-img{
    // bottom: -100px;
    
    display: flex;
    justify-content: center;
    border-radius: 50%;
    //background-color: #fff;
    background-image: url('./profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0px 0px 41px 0px rgba(122,122,122,1);

    animation: appear 0.5s linear forwards;

}
.avatar-img .anticon{
    display: flex;
}
.avatar-img svg{
    align-self: center;
}
#container-resume{
    display: flex;
    justify-content: space-around;
    animation: appearResume 0.5s linear forwards;
}
.name{
    color: #fff;
    padding-left: 20px;
    font-size: 4em;
}
#description{
    position: absolute;
    right: 50px;
    color: #fff;
    align-self: center;
    font-size: 150px;
    animation: rotate linear 2s infinite;
}


.contact-me{
    font-size: 30px;
    padding: 15px;
    outline: none;
    color: #fff;
    border: 1px solid #fff;
    background:rgba(0,0,0,0);
}
.contact-me:active{
    outline: none;
}
.contact-arrow{
    position: relative;
    color: #fff;
    font-size: 40px;
    animation: zigzag 2s linear infinite alternate;
}
@keyframes zigzag{
    from{right: -30px;}
    to{right: 0;}
}
@keyframes rotate{
    from{transform: rotate(0DEG);}
    to{transform: rotate(360DEG);}
}


@keyframes appearResume{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes appear{
    from{bottom: 200px;opacity: 0;}
    to{bottom: -50px;opacity: 1;}
}
@media only screen and (max-width:700px){
    #description{
        font-size: 40px;
    }
    .name{
        font-size: 2em;
    }
}