#lang-container{
    position: relative;
    
}
#lang-container h2{
    text-align: center;
}

.langs{
    display: flex;
    justify-content: space-between;
}
.langs div h3 {
    text-align: center;
}
.langs div img{
    width: 80px;
}
