.container-about{
    display: flex;
    position: relative;
    justify-content: space-around;
    color: #fff;
    overflow: hidden;
}
#set1,#set2{
    position: absolute;
    font-size: 90px;

    animation: roll 3s infinite linear;
}
@keyframes roll{
    from{transform: rotate(0DEG);}
    to{transform: rotate(360DEG);}
}
#set1{
    left: 100px;
    top: 20px;
}
#set2{
    right: 200px;
    bottom: 100px;
}

.me{
    padding: 100px 20px;
    width: 100%;
}
.me h1{
    text-align: center;
}
.me-description{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.me-description span{
    max-width: 500px;
}
#imgbg-container{
    padding-top: 100px;
    width: 500px;
}
#imgbg-container img{
    width: 100%;
}

#card-edu-img{
    display: flex;
    position: relative;
    justify-content: space-around;
    animation: appearcardimg 1s linear forwards;
}
@keyframes appearcardimg{
    from{bottom: -200px;opacity: 0;}
    to{bottom: 0px;opacity: 1;}
}
#card-edu-img img{
    width: 100px;
    height: 100px;
    transition: all 0.5s;
}
.card-education img:hover{
    transform: scale(1.1);
}
.card-education img:hover+span{    
    opacity: 1;
}
#education-title{
    margin-top: 50px;
}
#education{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.education-img{
    width: 100px;
    height: 100px;
}
.education-card{
    padding: 20px;
    display: flex;
} 
.certified{
    color: #ff9800;
}
@media only screen and (max-width:500px){
    #set1, #set2{
        font-size: 70px;
    }
    #education{
        grid-template-columns: repeat(1,1fr);
    }
    .education-card{
        padding:0px
    }
}